html {
    font-size: 16px; /* 1rem = 16px */
  }

:root {
    --iframeSize: 0px;
    --outlineSize: 5px;
}


body {
    font-family: roc-grotesk, sans-serif; 
    font-weight: 400;
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;;
    height: 100vh;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    gap:var(--outlineSize);
    overflow: hidden;   
}


.icon {
    z-index: 5;
    transition: transform 0.5s;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align all elements at the top */
    margin-top: 2.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
    z-index: -1; /* Ensure it is above other elements if necessary */
    position: relative;
}

#page-title {
    font-family: roc-grotesk, sans-serif; 
    font-weight: 500;
    font-size: 18.75rem; /*300px*/
    font-style: normal;
    line-height: 75%; /* 225px */
    text-transform: uppercase;
    text-align: left;
    margin: 0%;
    color: #000;
    margin-bottom: 1%;
    position: relative;
    left: -1.1%; /* Ajustez cette valeur selon vos besoins */
}

#page-subtitle {
    color: #000;
    font-family: roc-grotesk, sans-serif; 
    font-weight: 400;
    font-size: 3.75rem; /*60px*/
    font-style: normal;
    line-height: 100%; /* 60px */
    margin: 0;    
    position: relative;
    left: 0; /* Ajustez cette valeur selon vos besoins */
}

.mainSlideShow-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0%;
    flex-wrap: nowrap; /* Empêche les éléments d'aller à la ligne */
    justify-content: center;
    gap: var(--outlineSize); /* Espacement entre les diaporamas */
}

.slideshow-container {
    width: 33.333%;
    overflow: hidden;
    position: relative; /* Positioning the container relative to its parent */
}

.mySlidesRED, .mySlidesGREEN, .mySlidesBLUE {
    position: absolute; /* Positioning the slides absolutely within the container */
    width: 100%;
    top: 0;
    left: 0;
    display: none; /* Slides are hidden by default */
}


.slide-in {
    display: block;
    animation: slideIn 1s forwards;
}

.slide-out {
    display: block;
    animation: slideOut 1s forwards;
}

@keyframes slideIn {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

.slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image fits within the container without being cropped or distorted */
}

/* laptop */
@media (max-width: 1480px) {
    :root {
        --bar-size: 60px; /*72 px 4%*/
    }

    html {
        font-size: 13.5px; /* 1rem = 16px */
      }
    
}



/* small laptop */
@media (max-width: 1280px) {
    html {
        font-size: 12px; /* 1rem = 16px */
      }
}
  
/* Tablet */
@media (max-width: 768px) {
    :root {
        --outlineSize: 3px;
    }

    html {
        font-size: 8px; /* 1rem = 16px */
      }  
}
  