:root {
    --translate-x: 1200px; /* Default value */
    --bar-size: 72px
}

body {
    font-family: "Roc Grotesk Variable";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: var(--bar-size);
    /*background-color: white;*/
    color: rgb(0, 0, 0);
    border-right: 5px solid black;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    flex-shrink: 0;
}

.bar.expanded ~ .bar {
    transform: translateX(var(--translate-x)); /* Adjust the width of the menu here */
}


.icon {
    transition: transform 0.5s;
}

.bar.expanded .icon {
    transform: rotate(45deg);
}


.bar span {
    font-family: "Roc Grotesk Variable";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Centre le contenu verticalement */
    width: 100%;
    height: 11%;
    transform-origin: center; /* Centre de rotation */
    transform: rotate(90deg); /* Rotation de 90 degrés (sens horaire) */
    white-space: nowrap;
}

/* PROJETS */

.menu {
    font-family: "Roc Grotesk Variable";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    display: none; /* Modification: cache les menus par défaut */

    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    height: var(--bar-size);
    width: calc(var(--translate-x) - 10%);
    transition: all 0.5s;
}


.menu a {
    height: 72px;
    color: black;
    display: flex;
    text-align: right;
    text-decoration: none;
    border-bottom: 5px solid black;
    align-items: center; /* Centre le contenu verticalement */
    justify-content: flex-end; /* Aligne le contenu à droite */
}


/* PROJETS */

.projet{
    background-color: white;
}

.projet.project-open ~ .projet {
    transform: translateY(var(--iframeSize)); /* Ajustez la valeur en fonction de vos besoins */
}


.projet-iframe {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Position initiale sous la barre */
    width: var(--translate-x);
    margin-left: var(--bar-size);
}



/* Specific hover and expanded colors */
.bar-red:hover:not(.expanded), .bar-red.expanded {
    background-color: #FF5B54;
}

.bar-green:hover:not(.expanded), .bar-green.expanded {
    background-color: #38F88B;
}

.bar-blue:hover:not(.expanded), .bar-blue.expanded {
    background-color: #5E97EC;
}

.bar-about:hover:not(.expanded), .bar-about.expanded {
    background-color: #ECFF75;
}

/* Menu item hover colors */
.menu-red a:hover {
    background-color: #FF5B54;
}

.menu-green a:hover {
    background-color: #38F88B;
}

.menu-blue a:hover {
    background-color: #5E97EC;
}

.menu-about a:hover {
    background-color: #ECFF75;
}
