:root {
    --translate-x: 62.5%; /* 1200px 62.5% */
    --bar-size: 3.75%; /*72 px*/
    --iframeSize: 0px;
    --outlineSize: 5px;
    --underlineOffset: 7px;
}

body {
    /*font-family: "Roc Grotesk Variable";*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    gap:var(--outlineSize);
    overflow: hidden;
}

.bar {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: var(--bar-size);
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
    top: 0; /* Garde les barres en haut lors du défilement */
    height: 100vh; /* S'assure que les barres couvrent toute la hauteur de la fenêtre */
    transition: transform 0.5s; /* Ajoute une transition uniquement pour la translation */
    flex-shrink: 0;
    z-index: 1000;
    outline: var(--outlineSize) solid black;

}



.bar.expanded ~ .bar {
    transform: translateX(var(--translate-x)); /* Adjust the width of the menu here */
}

.icon {
    transition: transform 0.5s;
}

.bar.expanded .icon {
    transform: rotate(45deg);
}


.bar span {
    /*font-family: "Roc Grotesk Variable";*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Centre le contenu verticalement */
    width: 100%;
    height: 11%;
    transform-origin: center; /* Centre de rotation */
    transform: rotate(90deg); /* Rotation de 90 degrés (sens horaire) */
    white-space: nowrap;
}


/* Specific hover and expanded colors */
.bar-red:hover:not(.expanded), .bar-red.expanded {
    background-color: #FF5B54;
    text-decoration: underline;
    text-underline-offset: var(--underlineOffset);
    text-decoration-thickness: 3px;
}

.bar-green:hover:not(.expanded), .bar-green.expanded {
    background-color: #38F88B;
    text-decoration: underline;
    text-underline-offset: var(--underlineOffset);
    text-decoration-thickness: 3px;
}

.bar-blue:hover:not(.expanded), .bar-blue.expanded {
    background-color: #5E97EC;
    text-decoration: underline;
    text-underline-offset: var(--underlineOffset);
    text-decoration-thickness: 3px;
}

.bar-about:hover:not(.expanded), .bar-about.expanded {
    background-color: #ECFF75;
    text-decoration: underline;
    text-underline-offset: var(--underlineOffset);
    text-decoration-thickness: 3px;
}


/* PROJETS */

.menu {
    display: none; /* Cache les menus par défaut */
    position: absolute;
    top: 0;
    left: 100%;
    width: calc(var(--translate-x) );
    height: 100%;

    overflow-y: auto;
    
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    box-sizing: content-box;
    
    z-index: -1;
    gap: var(--outlineSize);

    /*font-family: "Roc Grotesk Variable";*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
}

/* Classe pour afficher le menu avec une animation */
.menu.show {
    animation: slideInMenu 0.5s forwards;
}

/* Classe pour cacher le menu avec une animation */
.menu.hide {
    animation: slideOutMenu 0.5s forwards;
}

/* Animations */
@keyframes slideInMenu {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutMenu {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


.menu::-webkit-scrollbar {
    display: none;
}

.menu a {
    height: 72px;
    margin-bottom: var(--outlineSize);
    color: black;
    display: flex;
    text-align: right;
    text-decoration: none;
    align-items: center; /* Centre le contenu verticalement */
    justify-content: flex-end; /* Aligne le contenu à droite */
}

/* Menu item hover colors */
.menu-red a:hover, .projet-red.open {
    background-color: #FF5B54;
    text-decoration: underline;
    text-underline-offset: var(--underlineOffset);
    text-decoration-thickness: 3px;
}

.menu-green a:hover, .projet-green.open{
    background-color: #38F88B;
    text-decoration: underline;
    text-underline-offset: var(--underlineOffset);
    text-decoration-thickness: 3px;
}

.menu-blue a:hover, .projet-blue.open{
    background-color: #5E97EC;
    text-decoration: underline;
    text-underline-offset: var(--underlineOffset);
    text-decoration-thickness: 3px;
}

.menu-about a:hover, .projet-about.open{
    background-color: #ECFF75;
    text-decoration: underline;
    text-underline-offset: var(--underlineOffset);
    text-decoration-thickness: 3px;
}

/* PROJETS */

.projet{
    position: relative;
    background-color: white;
    transition: transform 0.5s; /* Ajoute une transition uniquement pour la translation */
    z-index: 100;
    outline: var(--outlineSize) solid black;
}

.projet.open{
    position: sticky; 
    transition: transform 0.5s; /* Ajoute une transition uniquement pour la translation */
    top: -5px;;
}

.projet.open ~ .projet {
    transform: translateY(var(--iframeSize)); /* Ajustez la valeur en fonction de vos besoins */
}

.projet-iframe-container {
    display: none;
    overflow: hidden; 
    position: relative;
    background-color: white;
    
}

/* Ajoutez des sélecteurs supplémentaires pour ajuster selon le nombre d'iframes */

.projet-iframe {
    width: 100%;
    border: none;
}

.projet.open + .projet-iframe-container {
    display: flex;
}


.projet-icon{
    transition: all 0.5s;
}

.projet.open .projet-icon {
    transform: rotate(45deg);
}


.projet:hover .additional-text, .projet.open .additional-text {
    opacity: 1;
    position: absolute;
    display: flex;
    transform: rotate(0deg);
    left: 1%;    
    pointer-events: auto;
}

.additional-text {
    opacity: 0;
    display: none;
    position: absolute;
    text-align: left;
    align-content: center;
    pointer-events: none; /* Désactive les événements de pointage lorsque l'élément est masqué */
    align-items: center; /* Centre le contenu verticalement */
}

/* Classes to trigger animations */
.projet-iframe-container.opening {
    animation: openProject 0.5s forwards;
}

.projet-iframe-container.closing {
    animation: closeProject 0.5s forwards;
}

/* Animations for project opening and closing */
@keyframes openProject {
        from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes closeProject {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}


.mainMenu{
    display: block;
    margin-top: -8%;
    z-index: -1; /* Assurez-vous qu'il est au-dessus des autres éléments si nécessaire */
}

#page-title {
    color: #000;
    /*font-family: "Roc Grotesk Variable";*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300px;
    font-style: normal;
    font-weight: 500;
    line-height: 75%; /* 225px */
    text-transform: uppercase;
    text-align: left;
}

#page-subtitle {
    color: #000;
    /*font-family: "Roc Grotesk Variable";*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 60px */
    margin-top: -14%;
}


.mainSlideShow-container{
    width: 100%;
    margin-top: -5%;
    display: flex;
    flex-wrap: nowrap; /* Empêche les éléments d'aller à la ligne */
    justify-content: center;
    gap: 5px; /* Espacement entre les diaporamas */
}

.slideshow-container {
    width: 507px;
    height: 433px;
    overflow: hidden;
    position: relative; /* Positioning the container relative to its parent */
}

.mySlidesRED, .mySlidesGREEN, .mySlidesBLUE {
    position: absolute; /* Positioning the slides absolutely within the container */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none; /* Slides are hidden by default */
}


.slide-in {
    display: block;
    animation: slideIn 1s forwards;
}

.slide-out {
    display: block;
    animation: slideOut 1s forwards;
}

@keyframes slideIn {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

.slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image fits within the container without being cropped or distorted */
}

