:root{
    --sectionHeight: 1002px; /*1002px*/
    --outlineSize: 5px;
    --bar-size: 72px; /*72 px ou 4%*/
}

html {
    font-size: 16px; /* 1rem = 16px */
  }


body {
    font-family: roc-grotesk, sans-serif;    
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative; /* Add position relative to body */
}

h1 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-size: 8.75rem; /*140px*/
    font-style: normal;
    line-height: 85.714%; /* 85.714% 120px*/
    text-align: left;
    text-transform: uppercase;
    /*width: 50%; 50% au cas ou*/
    margin: 0;
    padding-bottom: 30px;
}

.introduction{
    font-family: roc-grotesk, sans-serif; 
    font-weight: 400;
    font-size: 1.375rem; /*22px*/
    font-style: normal;
    line-height: 30px;
    width: 71.31%;
    text-align: justify;
    margin: 0;
}

.title-page {
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
    display: flex;
    align-items: top; /* Align items vertically */
}

.text-container {
    padding: 20px;
}

.img-container {
    display: flex;
    justify-content: flex-end; /* Align to the right */
}

.img-titre {
    width: 42.37vw; /* Set maximum width to one-third of viewport width */
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
    object-fit: cover;
    outline: var(--outlineSize) solid black;
}

.triptique {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: black; /* Set background color to black to show the gap */
    gap: var(--outlineSize);
}

.triptique_A4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--sectionHeight);
    align-items: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: white; /* Set background color to black to show the gap */
    gap: var(--outlineSize);
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    outline: var(--outlineSize) solid black;
    
}

.img-vertical{
    width: 33.33%;
    background-color: black; /* Couleur de fond de votre choix */
    outline:  var(--outlineSize) solid black;
}


.image-container:first-child {
    margin-left: 0; /* No left margin for the first image */
}

.image-container:last-child {
    margin-right: 0; /* No right margin for the last image */
}

.triptique-image {
    width: 100%;
    /*height: var(--sectionHeight);*/ /* Set maximum height to full viewport height */
    object-fit: cover;
    display: flex;
}



.image-container:hover .text-overlay, .image-container_grille_6:hover .text-overlay {
    opacity: 1;
}

.image-container:hover .text-overlay-black, .image-container_grille_6:hover .text-overlay-black {
    opacity: 1;
}


.img-fullWidth{
    width: 100%;
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
    object-fit: cover;
    display: block;
}

.separation {
    height: var(--outlineSize);
    width: 100%;
    background-color: black; /* Couleur de fond de votre choix */
}

.separation-large {
    height: var(--bar-size);
    width: 100%;
    background-color: white; /* Couleur de fond de votre choix */
}



.text-overlay {
    font-family: roc-grotesk, sans-serif; 
    font-weight: 600;
    font-size: 5rem; /*80px*/
    font-style: normal;
    line-height: 100%;
    position: absolute;
    top: 2%;
    left: 2%;
    color: white;
    opacity: 0;
}

.text-overlay-vertical{
    left: 34.5%;
    width: 33.333%;
}

.text-overlay-black {
    font-family: roc-grotesk, sans-serif;  
    font-size: 5rem; /*80px*/
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    position: absolute;
    top: 2%;
    left: 2%;
    color: black;
    opacity: 0;
}

.grille_6_carré{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--outlineSize);;
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
    padding-left: 3%;
    padding-right: 3%;
}


.image_grille_6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down; /* Ensures the image covers the entire container */
    outline: var(--outlineSize) solid black;
}

.image_grille_6_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    outline: var(--outlineSize) solid black;
}


.image-container_grille_6{
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Aspect ratio 1:1 to make it square */
}

.grille_4{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: var(--outlineSize);
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
}

.img-grille-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    outline: var(--outlineSize) solid black;
}

.grille3x3{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: var(--outlineSize);
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
}


/* small laptop */
@media (max-width: 1030px) {
   
    :root{
        --outlineSize: 4px; /*3.75 px si on fait le bon calcul*/
    }
    html {
        font-size: 12px; /* 1rem = 16px */
        
    }
    
  }

  /* small laptop */
@media (max-width: 768px) {
    :root{
        --outlineSize: 2px; /*3.75 px si on fait le bon calcul*/
        --sectionHeight: 820px;
    }
    html {
        font-size: 8px; /* 1rem = 8px */   
    }
   
    .title-page {
        flex-direction: column;
        height: var(--sectionHeight);
    }

    .text-container {
        padding: 7px;
        height: calc(var(--sectionHeight)*0.5);
    }

    h1{
        padding-bottom: 7px;
    }

    .introduction{
        font-size: 1.75rem; /*22px*/
        line-height: 22px;
        width: 75%;
    }

    .img-titre {
        width: 100%; /* Set maximum width to one-third of viewport width */
        height: calc(var(--sectionHeight)*0.5);
    }

    .triptique {
        flex-direction: column;
    }

    .triptique_A4{
        flex-direction: column;
        height: auto;
    }
    
    .grille_6_carré{
        display: none;
        flex-direction: column;
        padding: 0%;
    }

    .img-vertical{
        width: 100%;
    }
    
}
  
  