:root{
    --sectionHeight: 1002px; /*1002px*/
    --outlineSize: 5px;
}


body {
    font-family: roc-grotesk, sans-serif;    
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative; /* Add position relative to body */
}

h1 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-size: 140px;
    font-style: normal;
    line-height: 85.714%; /* 85.714% 120px*/
    text-align: left;
    text-transform: uppercase;
    width: 50%; /*50% au cas ou*/
    margin: 0;
    padding-bottom: 30px;
}

.introduction{
    width: 71.31%;
    text-align: justify;
    font-family: roc-grotesk, sans-serif; 
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    margin: 0;
}

.title-page {
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
    display: flex;
    align-items: top; /* Align items vertically */
}

.text-container {
    flex: 2; /* Take two-thirds of the space */
    padding: 20px;
}

.img-container {
    flex: 1; /* Take one-third of the space */
    display: flex;
    justify-content: flex-end; /* Align to the right */
}

.img-titre {
    width: 42.37vw; /* Set maximum width to one-third of viewport width */
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
    object-fit: cover;
    outline: var(--outlineSize) solid black;
}

.triptique {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--outlineSize); /* Padding to create space for the gap */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: black; /* Set background color to black to show the gap */
    gap: var(--outlineSize);
}

.image-container {
    position: relative;
    flex: 1;
    
}

.image-container:first-child {
    margin-left: 0; /* No left margin for the first image */
}

.image-container:last-child {
    margin-right: 0; /* No right margin for the last image */
}

.triptique-image {
    width: 100%;
    /*height: var(--sectionHeight);*/ /* Set maximum height to full viewport height */
    object-fit: cover;
    display: flex;
}


.triptique_A4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--outlineSize); /* Padding to create space for the gap */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: black; /* Set background color to black to show the gap */
    gap: var(--outlineSize);
}


.image-container:hover .text-overlay {
    opacity: 1;
}

.image-container:hover .text-overlay-black {
    opacity: 1;
}


.img-fullWidth{
    width: 100%;
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
    object-fit: cover;
    display: block;
}

.separation {
    height: var(--outlineSize);
    width: 100%;
    background-color: black; /* Couleur de fond de votre choix */
}


.text-overlay {
    font-family: roc-grotesk, sans-serif; 
    font-weight: 600;
    font-size: 80px;
    font-style: normal;
    line-height: 100%;
    position: absolute;
    top: 2%;
    left: 2%;
    color: white;
    opacity: 0;
}

.text-overlay-black {
    font-family: roc-grotesk, sans-serif;  
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    position: absolute;
    top: 2%;
    left: 2%;
    color: black;
    opacity: 0;
}