:root{
    --sectionHeight: 1002px;
}


body {
    font-family: "Roc Grotesk Variable";
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative; /* Add position relative to body */
}

h1 {
    font-family: "Roc Grotesk Variable";
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: 85.714%; /* 85.714% 120px*/
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 2%;
    width: 50%;
}

.introduction{
    width: 71.31%;
    padding: 2%;
    text-align: justify;
    font-family: "Roc Grotesk Variable";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.22px;
}

.title-page {
    display: flex;
    align-items: top; /* Align items vertically */
}

.text-container {
    flex: 2; /* Take two-thirds of the space */
}

.img-container {
    flex: 1; /* Take one-third of the space */
    display: flex;
    justify-content: flex-end; /* Align to the right */
}

.img-titre {
    width: 42.37vw; /* Set maximum width to one-third of viewport width */
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
    object-fit: cover;
    outline: 5px solid black;
}

.triptique {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px; /* Padding to create space for the gap */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: black; /* Set background color to black to show the gap */
}

.image-container {
    position: relative;
    flex: 1;
    margin: 0 2.5px; /* Create a 5px gap between images (2.5px on each side) */
}

.image-container:first-child {
    margin-left: 0; /* No left margin for the first image */
}

.image-container:last-child {
    margin-right: 0; /* No right margin for the last image */
}

.triptique-image {
    width: 100%;
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
    object-fit: cover;
    display: block;
}

.text-overlay {
    font-family: "Roc Grotesk Variable";
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    position: absolute;
    top: 2%;
    left: 2%;
    color: white;
    opacity: 0;
}

.image-container:hover .text-overlay {
    opacity: 1;
}

.img-fullWidth{
    width: 100%;
    height: var(--sectionHeight); /* Set maximum height to full viewport height */
    object-fit: cover;
    display: block;
}