html{
    font-size: 8px;
}
body{
    overflow: hidden;
}


.mainMenuSmart{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100dvh;
    z-index: 10;
    background-color: white;
   
    overflow-y: hidden;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    transition: transform 0.5s linear;
    padding: 5px;
    box-sizing: border-box;
}

/* Hidden state after the animation */
.mainMenuSmart.hidden {
    transform: translateY(-105%);
    opacity: 1;
    pointer-events: none; /* Prevent interaction after hiding */
}

#pageSmart-title {
    font-family: roc-grotesk, sans-serif; 
    font-weight: 500;
    font-size: 13.75rem; /*110px*/
    font-style: normal;
    line-height: 75%; /* 225px */
    text-transform: uppercase;
    text-align: left;
    margin: 0%;
    color: #000;
    margin-bottom: 2.15%;
    margin-top: 9%;
    position: relative;
    left: -1.1%; /* Ajustez cette valeur selon vos besoins */
}

#pageSmart-subtitle {
    color: #000;
    font-family: roc-grotesk, sans-serif; 
    font-weight: 400;
    font-size: 2.5rem; /*60px*/
    font-style: normal;
    line-height: 100%; /* 60px */
    margin: 0;    
    position: relative;
    left: 0; /* Ajustez cette valeur selon vos besoins */

    margin-bottom: 8%;
}

.colorChoice{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    gap: 5px;
   
}


.choice.choiceAbout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5%;
    border-top: solid black 2px;
}

.colorChoiceAbout{
    margin: -5px;
}

.about-link {
    text-decoration: none; /* Supprime la décoration du lien */
    color: inherit; /* Utilise la couleur du texte par défaut */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%; /* Utilise toute la largeur disponible */
    margin-top: 2%;
    margin-left: 5px;    

}

.about-link h2 {
    margin: 0; /* Supprime la marge par défaut */
    margin-right: 8px; /* Ajoute un espace entre le texte et l'icône */
}

h2{
    text-transform: uppercase;
    text-align: right;
    color: #000;
    font-family: roc-grotesk, sans-serif; 
    font-weight: 400;
    font-size: 2.5rem; /*60px*/
    font-style: normal;
    line-height: 100%; /* 60px */
    margin: 0;
    position: relative;
    left: 0; /* Ajustez cette valeur selon vos besoins */
}



.about-icon{
    width: 25px; /* Définir la largeur de l'icône selon vos besoins */
    height: 25px; /* Définir la hauteur de l'icône selon vos besoins */
}

.choice{
    position: relative;
    overflow: hidden;    
    width: 100%;
    height: 33%;
}

.color-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Centre l'image verticalement */

}

.color-icon {
    position: absolute;
    top: 2px; 
    right: 2px; 
    width: 35px; /* 25px de base*/
    height: 35px; 

    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%); /*pour mettre le plus en blanc*/
}

.choiceAbout{
    color: #000;
    font-family: roc-grotesk, sans-serif; 
    font-weight: 400;
    font-size: 2.5rem; /*60px*/
    font-style: normal;
    line-height: 100%; /* 60px */
    margin: 0;    
    position: relative;
    left: 0; /* Ajustez cette valeur selon vos besoins */
    text-decoration: none;
    overflow: visible;    
}