html{
    font-size: 8px;
}

.mainMenuSmart{
    display: flex;
    flex-direction: column;
    margin-top: 9vh;
}

#pageSmart-title {
    font-family: roc-grotesk, sans-serif; 
    font-weight: 500;
    font-size: 13.75rem; /*110px*/
    font-style: normal;
    line-height: 75%; /* 225px */
    text-transform: uppercase;
    text-align: left;
    margin: 0%;
    color: #000;
    margin-bottom: 1%;
    position: relative;
    left: -1.1%; /* Ajustez cette valeur selon vos besoins */
}

#pageSmart-subtitle {
    color: #000;
    font-family: roc-grotesk, sans-serif; 
    font-weight: 400;
    font-size: 2.5rem; /*60px*/
    font-style: normal;
    line-height: 100%; /* 60px */
    margin: 0;    
    position: relative;
    left: 0; /* Ajustez cette valeur selon vos besoins */
}

.colorChoice{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    gap: 5px;
    margin-top: 7.5vh;
}


.choice.choiceAbout {
    position: relative;
    overflow: hidden; /* Empêche le contenu de sortir du bloc */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 5%;

    border-top: solid black 5px;
}

.about-link {
    text-decoration: none; /* Supprime la décoration du lien */
    color: inherit; /* Utilise la couleur du texte par défaut */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%; /* Utilise toute la largeur disponible */
}

.about-link h2 {
    margin: 0; /* Supprime la marge par défaut */
    margin-right: 8px; /* Ajoute un espace entre le texte et l'icône */
}

h2{
    text-transform: uppercase;
    text-align: right;
    color: #000;
    font-family: roc-grotesk, sans-serif; 
    font-weight: 400;
    font-size: 2.5rem; /*60px*/
    font-style: normal;
    line-height: 100%; /* 60px */
    margin: 0;    
    position: relative;
    left: 0; /* Ajustez cette valeur selon vos besoins */
}

.choiceAbout{
    color: #000;
    font-family: roc-grotesk, sans-serif; 
    font-weight: 400;
    font-size: 2.5rem; /*60px*/
    font-style: normal;
    line-height: 100%; /* 60px */
    margin: 0;    
    position: relative;
    left: 0; /* Ajustez cette valeur selon vos besoins */
    text-decoration: none;
}

.about-icon{
    width: 25px; /* Définir la largeur de l'icône selon vos besoins */
    height: 25px; /* Définir la hauteur de l'icône selon vos besoins */
}

.choice{
    position: relative;
    overflow: hidden;    
    width: 100%;
    height: 128px;
}

.color-img{
    width: 100%;
    height: 128px;
    object-fit: cover;
}

.color-icon {
    position: absolute;
    top: 2px; /* Ajustez la valeur pour positionner l'icône en fonction de vos préférences */
    right: 2px; /* Ajustez la valeur pour positionner l'icône en fonction de vos préférences */
    width: 25px; /* Définir la largeur de l'icône selon vos besoins */
    height: 25px; /* Définir la hauteur de l'icône selon vos besoins */

    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}
